config.json
__pycache__
venv/
.venv/
.mypy_cache/
.python-version
.ruff_cache/
.pytest_cache/
*.pyc
*.pyo

# ignore env variables 
*.env

# ignore stored local runtime files
crypto_cache*.json
request_log.json
*.tmp

# legacy ignores
.ipynb_checkpoints/