config.json
__pycache__
venv/
.venv/
.python-version
.ruff_cache/
.pytest_cache/
*.pyc
*.pyo

# ignore env variables 
*.env

# ignore stored local cache files
*.json
*.tmp

# legacy ignores
.ipynb_checkpoints/